@import 'default.css';
@import 'animation.css';

html {
  scroll-behavior: smooth;
}

* [data-visible="desktop"] {
  display: none;
}

body,html {
  overflow-x: hidden;
}

#app-container {
  min-height: 100vh;
  max-width: 904px;
  margin: 4.69rem auto 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.31rem;

  & .logo {
    width: 100%;
    max-width: 25rem;
  }

  & nav {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;

  & .banner-container {
    position: relative;
  }

  & .banner {
    width: 100%;
    max-height: 41.25rem;
    object-fit: cover;
    border-radius: 35px;
    align-self: center;
    margin-bottom: 7.81rem;
  }

  & .classe {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 14.37rem;
    left: 1.44rem;

    & span {
      font-size: 5.625rem;
      font-weight: 100;
      text-transform: uppercase;
    }

    & span:nth-child(2) {
      font-size: 1.5625rem;
      font-weight: 200;
    }
  }
}

.products {
  margin-bottom: 12.3rem;

  & h2 {
    color: #242424;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.375rem;
    text-transform: uppercase;

    margin-bottom: 5rem;
  }
}

.card-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, max-content);
  gap: 7.5rem;

  & .card {
    width: 23.125rem;

    display: flow-root;

    & swiper-container {
      width: 100%;
    }

    & .mySwiper2,
    & .mySwiper3,
    & .mySwiper4,
    & .mySwiper5,
    & .mySwiper6,
    & .mySwiper7 {
      margin-top: 2.77rem;

      & img {
        width: 90.272px;
      }

      & swiper-slide {
        opacity: 0.4;
      }

      & .swiper-slide-thumb-active {
        opacity: 1;
      }
    }

    & swiper-slide img {
      width: 100%;
    }

    & swiper-container::part(button-next),
    swiper-container::part(button-prev) {
      color: rgba(159, 159, 159, 0.30);
      width: 17px;
      height: 30px;
    }

    & h3 {
      font-size: 1.25rem;
      font-weight: 600;

      margin: 3.6rem 0 1.19rem;
    }

    & .container-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.1rem;

      & .product-info {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        & span {
          font-size: 1.375rem;
          font-weight: 600;
        }
      }

      & .container-select {
        & #category-select {
          display: flex;
          align-items: center;
          gap: 0.56rem;

          & label {
            font-size: 1.25rem;
            font-weight: 700;

            cursor: pointer;
          }

          & #product-1:checked+#select-button #chevrons [data-lucide="chevron-down"],
          & #product-2:checked+#select-button #chevrons [data-lucide="chevron-down"], 
          & #product-3:checked+#select-button #chevrons [data-lucide="chevron-down"], 
          & #product-4:checked+#select-button #chevrons [data-lucide="chevron-down"], 
          & #product-5:checked+#select-button #chevrons [data-lucide="chevron-down"], 
          & #product-6:checked+#select-button #chevrons [data-lucide="chevron-down"] {
            display: none;
          }

          & #product-1:checked+#select-button #chevrons [data-lucide="chevron-up"],
          & #product-2:checked+#select-button #chevrons [data-lucide="chevron-up"],
          & #product-3:checked+#select-button #chevrons [data-lucide="chevron-up"],
          & #product-4:checked+#select-button #chevrons [data-lucide="chevron-up"],
          & #product-5:checked+#select-button #chevrons [data-lucide="chevron-up"],
          & #product-6:checked+#select-button #chevrons [data-lucide="chevron-up"] {
            display: block;
          }

          & #product-1,
          & #product-2,
          & #product-3,
          & #product-4,
          & #product-5,
          & #product-6 {
            all: unset;
          }

          &:has(#product-1:checked)+#option-1,
          &:has(#product-2:checked)+#option-2,
          &:has(#product-3:checked)+#option-3,
          &:has(#product-4:checked)+#option-4,
          &:has(#product-5:checked)+#option-5,
          &:has(#product-6:checked)+#option-6 {
            display: block;
          }
        }

        & #chevrons {
          display: flex;

          & svg {
            width: 1rem;
            height: 1rem;
          }

          & [data-lucide="chevron-up"] {
            display: none;
          }
        }

        & .option-container {
          margin-top: 0.75rem;

          width: 11.75rem;

          display: none;

          z-index: 1;
          position: absolute;

          & span {
            font-size: 0.875rem;
            font-weight: 700;
          }

          & .option {
            position: relative;

            list-style: none;
            padding: 0.625rem;

            border-radius: 10px;
            background-color: #fff;

            &:has(input:checked),
            &:hover {
              background: #EBE7E7;
            }


            & input[type="radio"] {
              all: unset;
              inset: 0;

              position: absolute;
              cursor: pointer;
            }
          }
        }
      }

      & button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 8.88281rem;
        height: 2.63794rem;

        color: #FFF;
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;

        padding: 0.75rem 1.35rem;

        border-radius: 10px;
        border: 1px solid #000;
        background: #000;
      }
    }

    & button {
      width: 8.55981rem;
      height: 1.83038rem;

      font-size: 0.75rem;
      font-weight: 300;
      text-transform: uppercase;

      float: right;

      padding: 0.32rem;
      background: none;

      border-radius: 10px;
      border: 0.5px solid #000;
    }
  }
}

.materials {
  margin-bottom: 10.69rem;


  & h2 {
    color: #232324;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    text-transform: uppercase;

    margin-bottom: 4.7rem;
  }

  & .materials-container {
    display: flex;
    /* position: relative; */

    &>div {
      display: flex;
      flex-direction: column;
      gap: 2.8125rem;

      width: 36.125rem;

      & p {
        color: #232324;
        font-size: 1.5625rem;
        font-weight: 300;
      }
    }

    & img {
      position: absolute;
      top: 44.5%;
      /* transform: translateY(-50%); */
      right: 0;
    }
  }
}

.about {
  padding: 7.81rem 0 8rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50vw;
    right: -50vw;
    bottom: 0;
    background-size: cover;
    overflow: hidden;
    animation: backgroundAnimation 4s infinite ease-in-out;
    animation-delay: 1ms;

    z-index: -1;
  }

  & div:first-child {
    margin-bottom: 6.69rem;
  }

  & h2 {
    color: #FFF;
    text-transform: uppercase;

    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;

    margin-bottom: 4.69rem;
  }

  & p {
    width: 55.8125rem;

    color: #FFF;
    font-size: 1.5625rem;
    font-weight: 300;

    margin-bottom: 2.5rem;
  }
}

.values {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  position: relative;

  & h2 {
    color: #242424;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    text-transform: uppercase;

    margin-top: 7.31rem;
  }

  & .values-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 57.5rem;

    &:nth-child(2),
    &:nth-child(3) {
      width: 46.75rem;
    }

    & div {
      display: flex;
      align-items: baseline;
      gap: 1.5rem;


      & div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & h3 {
          color: #242424;
          font-size: 1.875rem;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 1.5rem;

        }

        & p {
          color: #242424;
          font-size: 1.5625rem;
          font-weight: 300;
        }
      }
    }
  }

  & .circle {
    position: absolute;
    top: -12px;
    /* Ajuste a posição vertical conforme necessário */
    left: 2121px;
    /* Posiciona o círculo à direita */
    transform: translate(0, -50%);
    /* Centraliza verticalmente */
    transform-origin: center;
    animation: rotate 60s linear infinite;
    overflow: visible;
    /* Permite que o círculo ultrapasse os limites da tela */
    z-index: -2;
  }
}

footer {
  margin-top: 11rem;
  padding: 2.94rem 0 2.37rem;
  background-color: #242424;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & .social-media {
      display: flex;
      flex-direction: column;
      gap: 1.1rem;

      & span {
        color: #FFF;
        opacity: 0.5;

        font-size: 1.5625rem;
        text-transform: uppercase;
        font-weight: 500;
      }

      & .midias {
        color: #FFF;
        opacity: 0.5;

        gap: 3.125rem;
      }
    }
  }

  & p {
    text-align: center;
    color: #FFF;
    opacity: 0.5;
    font-size: 1.25rem;
    font-weight: 300;

    margin-top: 2.25rem;
  }
}